version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: cloudblitz-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: cloudblitz-backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb+srv://@cluster0.78bkigv.mongodb.net/Cloudblitz?appName=Cluster0
      - NODE_ENV=production

  frontend:
    build: ./frontend
    container_name: cloudblitz-frontend
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend
    environment:
      - VITE_API_BASE_URL=http://backend:5000/api

volumes:
  mongo-data:
